header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #f56a6a;
}

ul.redes li {
    list-style: none;
    display: inline-block;
    padding: 0.2em;
}

.boton1 {
    display: inline-block;
    border-radius: 8px;
    border: 2px solid orange;
    color: orange;
    padding: 1.2em;
}

i .re{
    color: #7f888f;
}

.erat {
    
}
.ico{
    color: #f56a6a;
    width: 10em;
    height: 10em;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #7f888f
}

.boton1:hover {
    color: #ebe838;
    border: 2px solid #ebe838;
}
h1 {
    font-family: sans-serif;
}

article {
    display: flex;
    flex-direction: row;
}

img {
    border-radius: 1em;
}

body{
    padding: 10px 100px;
}

.art {
    margin: 50px;
}

h3{
    padding: 0.2em;
    margin: 1em 0em;
    display: inline-block;
    border-bottom: 5px solid #f56a6a;
}

.erat {
    display: flex;
    flex-direction: row;
}

.diviE {
    display: flex;
}

.diviE i {
    display: flex;
    align-items: center
}

#titulo {
    font-size: 2em; 
}